[submodule "cairo"]
	path = cairo
	url = https://github.com/freedesktop/cairo
[submodule "pango"]
	path = pango
	url = https://github.com/GNOME/pango
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "bzip2"]
	path = bzip2
	url = git://sourceware.org/git/bzip2.git
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "fontconfig"]
	path = fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig
[submodule "json-c"]
	path = json-c
	url = https://github.com/json-c/json-c
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat
[submodule "libxml2"]
	path = libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2
[submodule "pixman"]
	path = pixman
	url = https://gitlab.freedesktop.org/pixman/pixman
[submodule "libmd"]
	path = libmd
	url = https://github.com/guillemj/libmd
[submodule "glib"]
	path = glib
	url = https://gitlab.gnome.org/GNOME/glib
[submodule "libffi"]
	path = libffi
	url = https://github.com/libffi/libffi
[submodule "pcre"]
	path = pcre
	url = https://github.com/jwilk-mirrors/pcre
[submodule "fribidi"]
	path = fribidi
	url = https://github.com/fribidi/fribidi
[submodule "c2man"]
	path = c2man
	url = https://github.com/fribidi/c2man
