[submodule "cairo"]
	path = repos/cairo
	url = https://gitlab.freedesktop.org/cairo/cairo.git
[submodule "pango"]
	path = repos/pango
	url = https://github.com/GNOME/pango
[submodule "freetype"]
	path = repos/freetype
	url = https://github.com/freetype/freetype
[submodule "libpng"]
	path = repos/libpng
	url = https://github.com/glennrp/libpng
[submodule "zlib"]
	path = repos/zlib
	url = https://github.com/madler/zlib
[submodule "bzip2"]
	path = repos/bzip2
	url = git://sourceware.org/git/bzip2.git
[submodule "brotli"]
	path = repos/brotli
	url = https://github.com/google/brotli
[submodule "harfbuzz"]
	path = repos/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "fontconfig"]
	path = repos/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig
[submodule "json-c"]
	path = repos/json-c
	url = https://github.com/json-c/json-c
[submodule "libexpat"]
	path = repos/libexpat
	url = https://github.com/libexpat/libexpat
[submodule "pixman"]
	path = repos/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman
[submodule "libmd"]
	path = repos/libmd
	url = https://github.com/guillemj/libmd
[submodule "glib"]
	path = repos/glib
	url = https://gitlab.gnome.org/GNOME/glib
[submodule "libffi"]
	path = repos/libffi
	url = https://github.com/libffi/libffi
[submodule "pcre"]
	path = repos/pcre
	url = https://github.com/jwilk-mirrors/pcre
[submodule "fribidi"]
	path = repos/fribidi
	url = https://github.com/fribidi/fribidi
[submodule "c2man"]
	path = repos/c2man
	url = https://github.com/fribidi/c2man
[submodule "curl"]
	path = repos/curl
	url = https://github.com/curl/curl
[submodule "openssl"]
	path = repos/openssl
	url = https://github.com/openssl/openssl
[submodule "ogg"]
	path = repos/ogg
	url = https://github.com/xiph/ogg
[submodule "libvpx"]
	path = repos/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "libwebm"]
	path = repos/libwebm
	url = https://chromium.googlesource.com/webm/libwebm
[submodule "vorbis"]
	path = repos/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis
[submodule "SDL"]
	path = repos/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "repos/libthai"]
	path = repos/libthai
	url = https://github.com/tlwg/libthai.git
[submodule "repos/libdatrie"]
	path = repos/libdatrie
	url = https://github.com/tlwg/libdatrie.git
[submodule "repos/flac"]
	path = repos/flac
	url = https://gitlab.xiph.org/xiph/flac.git
[submodule "repos/opus"]
	path = repos/opus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "repos/mpg123"]
	path = repos/mpg123
	url = https://github.com/madebr/mpg123.git
[submodule "repos/libsndfile"]
	path = repos/libsndfile
	url = https://github.com/StrataSource/libsndfile.git
[submodule "repos/autoconf"]
	path = repos/autoconf
	url = https://github.com/autotools-mirror/autoconf.git
